.work-section2 {
  background-color: #043873;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
}

.work-section2 .wave-image {
  position:absolute;
  left: 0;
  bottom: 0;
  max-width: 210px;
  z-index: 0;
  opacity: 0.2;
  align-items: center;
}

.work-heading2 {
    color: white;
  font-size: 66px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.work-heading2 .heading-underline {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 120%;
  height: auto;
  pointer-events: none;
}

.work-description2 {
    color: #fff;
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.7;
  z-index: 1;
  position: relative;
}

.try-taskey-btn {
  background-color: #4F9CF9;
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
  position: relative;
}

.try-taskey-btn:hover {
  background-color: #3986e4;
}





